
<div class="profile_wrapper">
  <div class="profile">
    <img src="/assets/profile_pic.jpg">
    <h1>Nicholas Lohr</h1>
    <ul>
      <li><a href="mailto:nicklohr1@gmail.com">Email Me</a></li>
      <li>646-401-4792</li>
      <li><a href="https://www.linkedin.com/in/citybeams">Linked In</a></li>
      <li><a href="https://github.com/Citybeams">GitHub</a></li>
    </ul>
  </div>
</div>


<div class="wolf-wrapper">
  <div class="wolf">
    <img src="/assets/FoodCubWolfFinal-Logo.jpg">
  </div>
</div>

<div class="citybeams-wrapper">
  <div class="citybeams">
    <img src="/assets/citybeams_logo.png">
  </div>
</div>

<div class="wanderparty-wrapper">
  <div class="wanderparty">
    <img src="/assets/wander_party.jpg">
  </div>
</div>

<div class="wdi-wrapper">
  <div class="wdi">
    <img src="/assets/wdi.png">
  </div>
</div>

<div class="wolf-rope-wrapper">
  <div class="wolf-rope">
    <img src="/assets/nail1.png">
  </div>
</div>

<div class="citybeams-rope-wrapper">
  <div class="citybeams-rope">
    <img src="/assets/nail2.png">
  </div>
</div>

<div class="wdi-rope-wrapper">
  <div class="wdi-rope">
    <img src="/assets/nail3.png">
  </div>
</div>

<div class="wanderparty-rope-wrapper">
  <div class="wanderparty-rope">
    <img src="/assets/nail4.png">
  </div>
</div>

<div class="profile-rope-wrapper">
  <div class="profile-rope">
    <img src="/assets/nail3.png">
  </div>
</div>

<div class="profile-chain-wrapper">
  <div class="profile-chain">
    <img src="/assets/chain.png">
  </div>
</div>

<div class="contact-chain-wrapper">
  <div class="contact-chain">
    <img src="/assets/chain.png">
  </div>
</div>

<div class="foodcub-description-wrapper">
  <p class="foodcub-description">
    Founder of <a href="http://www.foodcub.com">Foodcub</a>, 40 restaurants and counting...
    </p>
  </div>

<div class="wdi-description-wrapper">
  <p class="wdi-description">
    Graduate of General Assembly's <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a>. Coded all day every day for 12 weeks...!
    </p>
  </div>

<div class="citybeams-description-wrapper">
  <p class="citybeams-description">
    Founder of <a href="http://www.citybeams.com"> Citybeams</a> website and mobile <a href="https://itunes.apple.com/us/app/citybeams/id459658782?mt=8">App</a>. Featured in the NY Times
    </p>
  </div>

<div class="wanderparty-description-wrapper">
  <p class="wanderparty-description">
    New!! Simultaneously search for <a href="http://aqueous-reaches-2430.herokuapp.com/">two airline tickets</a> coming together to one destination at the same time.
    </p>
  </div>


<div class="foodcub-chain-wrapper">
  <div class="foodcub-chain">
    <img src="/assets/chain.png">
  </div>
</div>

<div class="wdi-chain-wrapper">
  <div class="wdi-chain">
    <img src="/assets/chain.png">
  </div>
</div>

<div class="citybeams-chain-wrapper">
  <div class="citybeams-chain">
    <img src="/assets/chain.png">
  </div>
</div>

<div class="wanderparty-chain-wrapper">
  <div class="wanderparty-chain">
    <img src="/assets/chain.png">
  </div>
</div>












