<header>
  <img src="/assets/profile_pic.jpg">
  <h1>Nicholas Lohr</h1>
  <ul>
    <li><a href="nicklohr1@gmail.com">Email</a></li>
    <li><a href="#">646-401-4792</a></li>
    <li><a href="https://www.linkedin.com/in/citybeams">Linked In</a></li>
    <li><a href="https://github.com/Citybeams">Github</a></li>
  </ul>
</header>

<div class="wolf-wrapper">
  <div class="wolf">
    <a href="http://www.foodcub.com"><img src="/assets/FoodCubWolfFinal-Logo.jpg"></a>
  </div>
</div>

<div class="citybeams-wrapper">
  <div class="citybeams">
    <a href="http://www.citybeams.com"><img src="/assets/citybeams_logo.png"></a>
  </div>
</div>

<div class="wanderparty-wrapper">
  <div class="wanderparty">
    <a href="http://aqueous-reaches-2430.herokuapp.com/"><img src="/assets/wander_party.jpg"></a>
  </div>
</div>

<div class="wdi-wrapper">
  <div class="wdi">
    <a href="https://generalassemb.ly/education/web-development-immersive"><img src="/assets/wdi.png"></a>
  </div>
</div>

<!-- <div class="wolf-rope-wrapper">
  <div class="wolf-rope">
    <img src="/assets/nail_rope.tif">
  </div>
</div> -->




